/* General CSS */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-bottom: 100px;
}
a{
    text-decoration: none;
}
/* Header Section CSS */
header{
    background-color: #F0FFF0;
}
/* NAVBAR CSS */
.navbar-brand{
    padding: 10px 0;
}
.navbar-brand img{
    width: 200px;
    height: 60px;
}
a.nav-link{
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.nav-link{
    padding: 12px 18px!important;
}
.nav-item button{
    margin-left: 18px;
}
.green_button{
    background-color: #21B573;
    color: white;
    border: none;
    border-radius: 33px;
    cursor: pointer;
    padding: 12px 36px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
}

/* BANNER SECTION CSS */
.banner_left{
    padding: 55px 0;
}
.banner p:first-child{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
}
.banner h1{
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 70px;
color: #000000;
}
.banner_desc{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;
    padding: 30px 0;
}
.banner img{
    width: 100%;
    height: auto;
}

/* ICON AREA CSS */
.icon_area .card{
    background-color: #F8FFFB;
    border: none;
    padding: 45px 0px;
    border-radius: 10px;
    transition: box-shadow .2s ease-in-out;
}
.icon_area .card:hover{
    background-color: #ffffff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.icon_area .card img{
    width: 80px;
    height: 83px;
}
/* ONLINE COURSES */
.online_course_main h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #413960;
    padding-bottom: 50px;
}
.online_course h5{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #413960;
}
.online_course p{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #585859;
}
.online_course .card{
    border: none;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    padding: 20px 0;
}
.online_course >.card> img{
    border-radius: 11px;
    width: 90%;
}
.card-footer{
    border: none;
    background-color: white;
    border-radius: 0 0 18px 18px;
}
.card-footer ul{
    margin:0;
    padding: 0;
}
.card-footer ul li{
    list-style: none;
}
.card-footer ul> li> img{
    width: 18px;
    height: 20px;
    margin-right: 6px;
}
/* TESTIMONIAL CSS */
.testimonial_area img{
    width: 120px;
    height: 120px;
}
.testimonial_area h3{
    padding-bottom: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}
.testimonial_area p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    padding: 10px 0;
}

/* LEAVE A MESSAGE */

.leave_message_area .green_mailto {
    text-decoration: none;
    background-image: linear-gradient(45deg, #21B573,  #217C58);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    padding-top: 35px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
    transition: box-shadow .2s ease-in-out;
}
.leave_message_area .green_mailto:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.leave_message_area .green_mailto a {
    font-size: 19px;
    line-height: 38px;
    font-weight: 300;
    color: #ffffff;
}
.leave_message_area .green_mailto a:hover{
    text-decoration: none;
}
.leave_message_area .green_mailto span {
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}
/* FOOTER CSS */
footer{
    background-color: #282531;
    color: white;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}
footer .container{
    margin-bottom: 0px;
}
footer ul{
    margin: 0;
    padding: 0;
}
footer ul li{
    list-style: none;
}
footer h6{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.footer_top{
    padding: 60px 0;
}
.footer_bottom{
padding: 10px 0;
}